*.py[cod]
.hgignore~
.gitignore~
.hg/
.hgtags
.tox/
.travis.yml~
.cache/
.coverage*
/htmlcov/
*.py,cover
.idea/
.pytest_cache/

node_modules/
MANIFEST.in~
MIND_BUCKET.rst
codebin/
/tmp/
.zip
/release/
/releases/
/deploy/
/var/
/builddocs/
/builddocs.zip
/build/
/dist/
.DS_Store
